{% extends 'aplicacion/home.html' %}
{% block contenido %}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Acerca de Mi</h1>
    <hr>
    <p>Mi nombre es Rivas Emanuel Ricardo, soy de Lomas de Zamora, PBA, Argentina.
        <br>
        Vivo con mi pareja y una Gatita llamada Kira.
        <br>
        Tengo 30 años, trabajo como Liquidador de Sueldos en CABA
        <br>
        Como llegue hasta aca? Bueno, todo comenzo con charlas entre amigos que cada uno esta en una rama de programacion casualmente como FullStack, Backend, Analista QA, entre incentivos de mi pareja y mis amigos y ganas de cambiar mi trabajo, arranque el 2023 aca en CH con Desarrollo Web, segui con JS, MySQL y ahora aqui con Python.
        <br>
        Ahora este mes de Marzo arranco con la Tecnicatura en analista de sistemas en un Instituto publico e ingles por otro lado.
        <br>
        El plan es seguir aprendiendo, aprovechando estos proyectos para fortalecer conocimientos, mucha practica.
    </p>    

{% endblock contenido %}
